.video {
    border-style: solid;
    border-width: medium;
    border-radius: 5px;
}

.m-b-neg {
    margin-bottom: -45px;
}

@media (min-width: 992px) {
    .descriptionLeftMargin {
        margin-left: 10px;
    }
}

@media (max-width: 991.98px) {
    .descriptionTopMargin {
        margin-top: 10px;
    }
}